.tournamentSectionTitle {
  text-align: center;
  font-size: 12pt;
  font-weight: bold;
  background-color: #efac71;
  color: #ffebd1;
  margin-bottom: 0.375rem;
}

.tournamentGrid {
  display: flex;
  gap: 0.375rem;
  flex-wrap: wrap;
}

.tournamentBox {
  box-sizing: border-box;
  flex: 1;
  padding: 0.25rem;
  border: 2px solid #f4d1a2;
}

.rewardsTourneys {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 106px;
  text-align: center;

  img {
    display: block;
    margin: 0 auto;
  }
}

.tournamentResume {
  flex-shrink: 0;
  flex-basis: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.tournamentUserResume {
  display: grid;
  align-items: center;

  ul {
    margin: 0;
  }
}

.tournamentActions {
  flex-grow: 0;
  flex-basis: 230px;
}

.tournamentActionsList {
  display: grid;
  gap: 0.5rem;
}

// TODO set this in table component
.tournamentTable {
  width: 100%;
  border-collapse: collapse;
  text-align: start;

  th,
  td {
    padding: 0.125rem 0.25rem;
  }

  th {
    background-color: #efac71;
    color: #ffebd1;

    &:not(:last-child) {
      border-right: solid 2px #fcebd1;
    }
  }

  tr:not(:last-child) th {
    border-bottom: solid 2px #fcebd1;
  }

  tr:not(:last-child) td {
    border-bottom: solid 1px #f4d1a2;
  }
}
