.button {
  min-width: 150px;
  color: #fcead1;
  cursor: pointer;
  padding: 5px 8px;
  border: 2px solid transparent;
  border-image-slice: 5;
  border-image-width: 5px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-source: url("../assets/button_attack.gif");
  border-style: solid;
  background: hsl(23, 45%, 48%);
}

.button:not(:disabled):hover,
.button:not(:disabled):focus-visible {
  background-color: hsl(23, 45%, 42%);
  cursor: pointer;
  outline-offset: 4px;
}

.button.is-active {
  background-color: hsl(23, 45%, 40%);
}

.button:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.button.is-medium {
  min-height: 30px;
  font-weight: bold;
}

.button.is-large {
  min-width: 180px;
  min-height: 35px;
  font-weight: bold;
}

.button.is-larger {
  min-width: 300px;
  min-height: 45px;
  font-weight: bold;
}

.button.is-small {
  min-width: 0;
}
