.progress {
  box-sizing: border-box;
  appearance: none;
  border: none;
  height: 13px;
  width: 74px;
  background: #673e26 url("../assets/bar.gif");
  background-size: 100% 100%;

  border: solid 3px transparent;
  border-left-width: 4px;
  border-right-width: 4px;
  border-image-slice: 3 4 3 4 fill;
  border-image-width: 3px 4px 3px 4px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-source: url("../assets/bar.gif");
  border-style: solid;

  &::-webkit-progress-bar {
    background: transparent;
  }

  &::-moz-progress-bar {
    background: no-repeat 0 50% url("../assets/bar_start.gif"),
      no-repeat 6px 50% url("../assets/bar_fill.gif");
    background-size: auto 100%, 100% 100%;
    border-radius: 2px;
  }

  &::-webkit-progress-value {
    background: no-repeat 0 50% url("../assets/bar_start.gif"),
      no-repeat 6px 50% url("../assets/bar_fill.gif");
    background-size: auto 100%, 100% 100%;
    border-radius: 2px;
  }

  &.is-expanded {
    display: block;
    width: 100%;
  }
}
