.historyItem {
  display: flex;
  padding: 0.125rem 0.75rem 0.125rem 0.125rem;
  align-items: center;
  gap: 0.5rem;
  background-color: #ffe4c1;
  border: 2px solid #efac71;
  margin-top: 0.5rem;
  line-height: 1.2;
}

.historyItem-content {
  flex-grow: 1;
}

.historyItem.is-notSeen {
  background-color: #ffd8b8;
}
